//cart
.cart-empty-show{
	display: none;
}
.icon-basket{
	position: absolute; 
	right: 54px;
	top:10px;
	@media screen and (max-width: 800px) {
		right: 12px;
	}
}
.delete-item {
	@media screen and (max-width: 500px) {
		//position: absolute;
		//right: 0px;
		bottom: 0px;
	}

}
.cart-total{
	position: absolute;
	right: 0px;
	@media screen and (max-width: 500px) {
		position: absolute;
		right: 0px;
	}
}
//
.qty-text{
	@media screen and (max-width: 500px) {
		color: #fff;
	}
}