	.card-img-top {
		object-fit: contain;
	}

	a:hover {
		text-decoration: none;
	}

	.img-hover-zoom {
		height: auto;
		overflow: hidden;
		position: relative;
		border-radius: 4px;
		max-height: 300px;
		object-fit: cover;
	}

	.img-hover-zoom img {
		transition: transform .5s ease;

	}

	.img-hover-zoom:hover img {
		transform: scale(1.1);

	}

	.img-hover-zoom .text {
		position: absolute;
		padding-top: 15px;
		padding-bottom: 15px;
		bottom: 0;
		text-align: center;
		background: rgba(0, 0, 0, 0.2);
		color: #fff;
		width: 100%;
		height: 100%;

	}

	.text-1 {
		position: absolute;
		bottom: 30px;
		left: 8px;
	}

	.text-2 {
		position: absolute;
		bottom: 10px;
		left: 8px;
	}

	.btn-card {
		position: absolute;
		bottom: 10px;
		right: 8px;
	}

	.btn-card-box :hover {
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		width: 100%;
		height: 100%;
		z-index: 9;
	}

	.btn-card-box button {
		color: rgba(255, 255, 255, 0);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		z-index: 9;
		height: 40px;
		width: 100%;
		height: 100%;
	}

	.img-hover-zoom img {
		display: table;
	}

	.slide-box {
		position: absolute;
		top: 80px;
		right: 40px;
	}

	@media screen and (max-width: 600px) {
		.btn-card {
			display: none;
		}

		.slide-box {
			position: absolute;
			top: 20px;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}

		.news-input {
			width: 300px !important;
		}

		.text-m-6-7-6 {
			font-size: 20px;
		}
	}

	.card-text {
		position: relative;
		top: -10px;
	}
//210604 chris add
//New Item
.new-item-card{
	height:400px;
	//height: 100%;

	//background: url('./assets/img/bg-new-items.png');
	//background-image: url("assets/img/bg-new-items.png");
	//background-image: url('/assets/img/bg-new-items.png');
	//background-image: url('<?php bloginfo("template_directory");?>/images/visitus.png');
	div.img{
		flex: 0 0 80% !important;
		//@at-root: 100px;
		min-width: 50px !important;
		max-width: 60px !important;
		object-fit: contain !important;
	}
	@media screen and (max-width: 800px) {
		height: 800px;
		//height: 100%;
	}
	@media screen and (max-width: 600px) {
		height: 600px;
		//height: 100%;
		div.img{
			flex: 0 0 80% !important;
			//@at-root: 100px;
			min-width: 50px !important;
			max-width: 60px !important;
			object-fit: contain !important;
		}
	}
	&:hover{
		img{
			transform: scale(1.1);
			transition: transform .5s ease;
		}
	}
}
